#create-note {
    text-align: center;
}

#title-div {
    margin: auto;
    background: white;
    border-radius: 50px;
    max-width: 400px;
    height: 40px;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

#description-div {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    background: white;
    border-radius: 50px;
    max-width: 800px;
    min-height: 200px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
}

#post-description {
    border: none;
    text-align: center;
    width: 90%;
    height: 90%;
    min-height: 200px;
    border-radius: 50px;
    font: 1.2rem arial;
    margin: 10px auto 10px auto;
    resize: none;
}

#description-container {
    max-width: 800px;
    margin: auto;
}

#description-container label {
    margin-left: 50px;
}

#post-loc-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    max-width: 800px;
}

#location-div,
#amount-div,
#contact-div {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 50px;
    width: 200px;
    height: 35px;
}

#post-title {
    border: none;
    text-align: center;
    font: 1.5rem bold;
    border-radius: 50px;
    padding-top: 5px;
}

#post-worktype {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
}

#upload-image {
    display: flex;
    flex-direction:row;
    width: 250px;
    margin: auto;
}

#worktype,
#upload-image {
    border-radius: 50px;
    height: 35px;
    font-size: 1.2rem;
    padding: 5px;
}

#post-location {
    border: none;
}
#post-contact {
    border:none;
}
#post-amount {
    border: none;
}

#submit-div {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 40px auto 0 auto;
}

#submit-post {
    font-family: 'Merienda';
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    height: 35px;
    width: 180px;
    background-color: rgb(33, 138, 12);
}

#submit-post:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#submit-post,
#post-title,
#worktype,
#post-description,
#post-amount,
#post-location,
#post-contact,
:focus {
    outline: none;
}
