#dropdown-nav-btns {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgba(73, 63, 252, 0.95);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  #dropdown-nav-btns ul {
    list-style-type: none;
  }
  
  /* The navigation menu links */
.nav-links {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: -20px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav-links:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  #dropdown-nav-btns .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-left: 10px;
    background: none;
    color: white;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /* #main {
    transition: margin-left .5s;
    padding: 20px;
    color: white;
  } */

  #open-nav {
    background: rgba(255, 255, 255, 0.15);
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 40px;
  }
  
  
  @media screen and (max-width: 576px) {

    #open-nav {
        visibility: visible;
    }
    
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  
  @media screen and (max-height: 450px) {

    #dropdown-nav-btns {
        padding-top: 15px;
    }

    #dropdown-nav-btns ul li a,
    .nav-links {
        font-size: 18px;
    }
    
  }