.account-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white; 
  width: 30%;
  margin-top: 40px;
  box-shadow: rgba(73, 63, 252) 2px 3px 5px 1px;
  border-radius: 1rem;
  padding: 20px;
}

.account-info-container div {
  display: flex;
  flex-direction: column;
}

.account-info-container input {
  border-radius: 1rem;
  border-color: rgb(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 5px 10px 5px 10px;
}

#edit-account-btn {
  border-style: solid;
    cursor: pointer;
    font-family: 'Merienda';
    margin: 0 0 1.5rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color:black; 
}

#edit-account-btn:hover {
  background-color:rgb(110, 94, 254);  
  color:white;
}

@media screen and (max-width: 576px) {

  .account-info-container{
      width: 60%;
      margin: auto;
  }
  
}