#dash-post-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 10px
}

.post-card {
    /* border-style: solid;
    border-color: blue; */
    box-shadow: blue 2px 3px 5px 1px;
    border-radius: 1rem;
    background-color: white;
    min-width: auto;
    /* height: 100%; */
    object-fit: cover;
}
.post-card:hover{
    background-color: rgb(156, 198, 247);
}