body {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%); 
}

.App {
    background-color: whitesmoke;
    margin: 5%;
    border-radius: 1rem;
}

h1 {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.login {
    text-align: center;
}

.login input {
    height: 30px;
    width: 40%;
    font-size: 16pt;
    margin: 10px;
}
#loginBtn{
    display: flex;
    justify-content: center;
    align-items: center; 
    border-style: solid;
    cursor: pointer;
    font-family: 'Merienda';
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.5rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    background-color: linear-gradient(90deg, rgb(44, 22, 243) 0%,  100%);
    color:black; 
}