body {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%); 
}

.App {
    background-color: white;
    margin: 5%;
    border-radius: 1rem;
}

h1 {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

