body {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%); 
}

.App {
    background-color: whitesmoke;
    margin: 5%;
}
h1 {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.login {
    text-align: center;
}

.login input {
    height: 40px;
    width: 30%;
    font-size: 18pt;
    margin: 10px;
}