#register-info {
    visibility: hidden;
    border-style: solid;
    border-color: rgb(110, 94, 254);
    border-width: 3px;
    border-radius: 1.5rem;
    padding: 5%;
}

.create-account {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.header {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

#create-account {
    visibility: visible;
    display: flex;
    justify-content:right;
    align-items: top; 
    border-style: solid;
    cursor: pointer;
    font-family: 'Merienda';
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.5rem;
    position: right;
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color:black;  
}
#create-account:hover{
    transition: all ease .5s .25s;
    background-color:rgb(110, 94, 254);  
    color:white;
    transition: 250ms;
}

p {
    font-size: x-large;
    margin: 3%;
}

.description {
    float: left;
    width: 500px;
}

.register-container {
   margin-top: 0%;
    float: right;
    width: 500px;
}

.register-container input{
    margin: 2%;
    height: 35px;
    width: 80%;
    font-size: 16pt;
    
}
    
#regBtn{
    display: flex;
    justify-content:right;
    align-items:flex-end; 
    border-style: solid;
    cursor: pointer;
    font-family: 'Merienda';
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.1rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color:black;
}

#regBtn:hover{
    
    transition: all ease .5s .25s;
    background-color:rgb(110, 94, 254);  
    color:white;
    transition: 250ms;
}

.login {
    text-align: center;
   /* border-style: solid;
    border-width: 3px;
    margin: 3%;
    border-radius: 1.5rem; 
    border-color: rgb(110, 94, 254);
    padding: 5%;
    */
}

.login input {
    height: 35px;
    width: 80%;
    font-size: 16pt;
    margin: 2%;
}
#loginBtn{
    display: flex;
    justify-content: center;
    align-items: center; 
    border-style: solid;
    cursor: pointer;
    font-family: 'Merienda';
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.5rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color:black; 
}
#loginBtn:hover{
    
    transition: all ease .5s .25s;
    background-color:rgb(110, 94, 254);  
    color:white;
    transition: 250ms;
}
.logo{
    font-size:x-large;
    color:rgb(110, 94, 254);
   float:right;
   margin:2%
}
