#register-info {
    visibility: hidden;
}

.create-account {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Poiret One', cursive;
    font-size: xx-large;
    margin: 3%;
}

#create-account {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-style: solid;
    cursor: pointer;
    font-family: 'Merienda';
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.5rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    background-color: linear-gradient(90deg, rgb(44, 22, 243) 0%,  100%);
    color:black;  
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;  
}
p {
    font-size: x-large;
    margin: 3%;
}
